{% extends 'main.html' %}

{% block content%}

    <div class="addtask">
        <form action="" method="POST">
            {% csrf_token %}

            <fieldset>
                <legend>LogIn</legend>

                <input class="input" type="text" name="username" required autocomplete="off" placeholder="Username">
                
                <input class="input" type="password" name="password" required autocomplete="off" placeholder="Password">
    
                <button class="" type="submit">Login</button>

                <a href="{% url 'Register' %}">New here? Create an account</a>

            </fieldset>
        </form>
    </div>

{% endblock content%}
