{% extends 'main.html' %}

{% block content%}

    <div class="addtask">
        <h2 class="abouttodo">About Todo List</h2>
        <p>Welcome to our To-Do List Application – your companion for organizing, managing, and achieving your daily tasks and long-term goals. Designed with simplicity and functionality in mind, this application is here to help you take control of your time, boost productivity, and reduce stress.

        In today’s fast-paced world, staying on top of your responsibilities can be a challenge. Whether you’re a student managing assignments, a professional juggling deadlines, or simply someone who likes to stay organized, our to-do list app is tailored to fit your needs. With features that cater to every aspect of task management, we aim to streamline your day and help you focus on what truly matters.

        </p>

        
            
           <p class="fet">
               Features You’ll Love:
           </p> <br>
           <ul>
            <li> <b>Easy Task Management:</b> Add, edit, and delete tasks effortlessly. Categorize your tasks into work, personal, or custom categories.</li>
            <li> <b>Prioritization:</b> Highlight tasks by setting their priority levels – high, medium, or low – so you never lose sight of what’s important.</li>
            <li><b>Deadlines and Reminders:</b> Set deadlines and receive reminders to ensure you’re always on track. </li>
            <li><b>Progress Tracking:</b> Mark tasks as complete to track your progress and celebrate your achievements.</li>
            <li><b>Cross-Device Accessibility:</b> Whether you’re at your desk or on the go, access your to-do list from any device.</li>
           </ul>

           <p>
               Our application isn’t just about task management – it’s about empowering you to lead a more organized and fulfilling life. With an intuitive interface and a seamless user experience, you’ll find yourself motivated to tackle your tasks head-on.
           </p>
           <p>
               Whether you’re planning a project, organizing your day, or simply jotting down ideas, this app is your go-to solution. Start small, dream big, and let us help you take one step closer to achieving your goals. Welcome aboard, and happy planning!</p>
           </p>
        
    </div>
    
{% endblock content%}