{% extends 'main.html' %}

{% block content%}

    <div class="addtask">

        <form action="" method="POST">
            {% csrf_token %}

            <fieldset>
                <legend>Add Task</legend>
                <div>
                    <label for="" >Title</label>
                    <input type="text" name="title" required autocomplete="off" placeholder="Task Name">
                </div>
    
                <div>
                    <label for="" >Description</label>
                    <input type="text" name="desc" required autocomplete="off" placeholder="Task Description">
    
                </div>
    
                
                <input class="submit Completed" type="submit"></button>

            </fieldset>
            

        </form>

    </div>
    
{% endblock content%}