{% extends 'main.html' %}

{% block content%}

    <div class="TaskList">
        <div class="head_del">
            <h2 style="margin-left: 30px;">Task History</h2>
            <a style="margin-right: 5px;" class="Completed" href="{% url 'Restore_all_HistoryTask' %}">Restore All</a>
            <a class="Delete" href="{% url 'conform_DeleteAll_Task_history' %}">Delete All</a>
        </div>
        {% for i in del_tsk %}

        <div class="task">
            <p class="title">
                {{i.title}} 
            </p>
            <p class="desc">
                {{i.desc}} 
            </p>
            <div class="buttons">
                <a class="Completed" href="{% url 'restore_single_history_task' i.id %}">Restore</a>
                <a class="Delete" href="{% url 'conform_Delete_Task_history' i.id %}">Delete</a>
            </div>
        </div>
        {% endfor  %}

    </div>

    
{% endblock content%}